@model SmallMealPlan.Web.Model.Meals.EditMealViewModel

<p>
    Edit meal <strong>@Model.Name</strong>
</p>
<p>
    <form method="post" action="/meal/edit/@(Model.MealId)">
    @Html.AntiForgeryToken()
    <div>Description:</div>
    <input type="text" name="description" class="smp-planner-add-new-description" value="@Model.Name" />

    <div>Ingredients:</div>
    <textarea name="ingredients" class="smp-planner-add-new-ingredients" wrap="off">@Model.Ingredients</textarea>

    <div>Notes:</div>
    <textarea name="notes" class="smp-planner-add-new-notes" wrap="off">@Model.Notes</textarea>

    <p>
        <button name="save" value="true" type="submit" data-depends="input.smp-planner-add-new-description">Save</button>
        <button name="saveasnew" value="true" type="submit" data-depends="input.smp-planner-add-new-description">Save as new meal</button>
        <button name="cancel" value="true" type="submit">Cancel</button>
    </p>
    </form>
</p>