@model SmallMealPlan.Web.Model.Home.PlannerEditMealViewModel

<p>
    Edit meal <strong>@Model.Name</strong> on @Model.Day.ToString("dddd dd MMMM yyyy")
</p>
<p>
    <form method="post" action="/planner/@(Model.Day.ToString("yyyyMMdd"))/edit/@(Model.PlannerMealId)">
    @Html.AntiForgeryToken()
    <div>Description:</div>
    <input type="text" name="description" class="smp-planner-add-new-description" value="@Model.Name" />

    <div>Ingredients:</div>
    <textarea name="ingredients" class="smp-planner-add-new-ingredients" wrap="off">@Model.Ingredients</textarea>

    <div>Notes:</div>
    <textarea name="notes" class="smp-planner-add-new-notes" wrap="off">@Model.Notes</textarea>

    <div>Notes for @Model.Day.ToString("dddd dd MMMM yyyy"):</div>
    <textarea name="datenotes" class="smp-planner-add-new-notes" wrap="off">@Model.DateNotes</textarea>

    <p>
        <button name="save" value="true" type="submit" data-depends="input.smp-planner-add-new-description">Save</button>
        <button name="saveasnew" value="true" type="submit" data-depends="input.smp-planner-add-new-description">Save as new meal</button>
        <button name="cancel" value="true" type="submit">Cancel</button>
    </p>
    </form>
</p>