@model SmallMealPlan.Web.Model.Home.IndexViewModel

<p>
    <button data-href="/planner/@(Model.PreviousWeekStart.ToString("yyyyMMdd"))"><img src="/images/up.png" height="18" width="18" />@Model.PreviousWeek</button>
</p>
<ul class="smp-planner-list">
    @foreach (var day in Model.Days) {
    <li class="smp-planner-list">
        <div class="@Model.AppendCss(day.Day == DateTime.Today, "smp-planner-list-day", "smp-planner-list-day-selected")">@day.Day.ToString("dddd")<br/>@day.Day.ToString("dd") @day.Day.ToString("MMM")</div>
        <ul class="smp-planner-list-meal" data-day="@day.Day.ToString("yyyyMMdd")">
            <button data-href="/planner/@(day.Day.ToString("yyyyMMdd"))/add">Add</button>
            @foreach (var meal in day.Meals) {
            <li class="smp-planner-list-meal" data-meal="@meal.Id">
                <div><img class="smp-planner-list-meal-drag-handle" src="/images/drag.png" height="26" width="22" title="Move" /></div>
                <div>@if (meal.HasIngredients || meal.HasNotes) {<img src="/images/expand.png" class="smp-planner-list-meal-oc" height="18" width="18" title="Show/Hide ingredients and notes" />}</div>
                <div>
                    <div>@meal.Name</div>
                    <div class="smp-planner-list-meal-details">
                        @if (meal.HasIngredients) {
                        <div>Ingredients:</div>
                        <ul>
                            @foreach (var ingredient in meal.Ingredients) {
                            <li>@ingredient</li>
                            }
                        </ul>
                        }
                        @if (meal.HasNotes) {
                        <div>Notes:</div>
                        <div>@meal.Notes</div>
                        }
                    </div>
                </div>
                <div>
                    <button data-href="/planner/@(day.Day.ToString("yyyyMMdd"))/edit/@(meal.Id)" title="Edit"><img src="/images/notes.png" height="15" width="15" /> Edit</button>
                    <form data-confirm="Are you sure you want to delete this meal from your planner?" method="post" action="/planner/@(day.Day.ToString("yyyyMMdd"))/delete/@(meal.Id)">@Html.AntiForgeryToken()<button title="Delete" type="submit"><img src="/images/close.png" height="15" width="15" /> Delete</button></form>
                </div>
            </li>
            }
        </ul>
    </li>
    }
</ul>
<p>
    <button data-href="/planner/@(Model.NextWeekStart.ToString("yyyyMMdd"))"><img src="/images/down.png" height="16" width="16" />@Model.NextWeek</button>
</p>
