@model SmallMealPlan.Web.Model.Home.PlannerViewModel

<p>
    Add meal for @Model.Day.ToString("dddd dd MMMM yyyy")
</p>
<div class="smp-planner-add-header">
    <span class="selected" data-select=".smp-planner-add-recent">Saved meal-box</span>
    <span data-select=".smp-planner-add-new">Add a new meal</span>
</div>
<div class="smp-planner-add-recent">
    Sort by
    @if (Model.Pagination.SortedByName) {
    <a href="/planner/@(Model.Day.ToString("yyyyMMdd"))/add?pageNumber=@(Model.Pagination.PageNumber)&sort=@(SmallMealPlan.Pagination.SortByRecentlyUsed)&filter=@(Model.Pagination.Filter)">recently used</a>
    } else {
    <a href="/planner/@(Model.Day.ToString("yyyyMMdd"))/add?pageNumber=@(Model.Pagination.PageNumber)&sort=@(SmallMealPlan.Pagination.SortByName)&filter=@(Model.Pagination.Filter)">name</a>
    }
    <form method="get" action="/planner/@(Model.Day.ToString("yyyyMMdd"))/add">
    <input type="text" name="filter" value="@(Model.Pagination.Filter)" /> <button type="submit" name="find">Find</button>
    <input type="hidden" name="pageNumber" value="@(Model.Pagination.PageNumber)" />
    <input type="hidden" name="sort" value="@(Model.Pagination.Sort)" />
    </form>
    <ul class="smp-planner-list-meal">
        @foreach (var meal in Model.Meals) {
        <li class="smp-planner-list-meal">
            <div></div>
            <div>@if (meal.HasIngredients || meal.HasNotes) {<img src="/images/expand.png" class="smp-planner-list-meal-oc" height="18" width="18" />}</div>
            <div>
                <div><a href="/planner/@(Model.Day.ToString("yyyyMMdd"))/add/@(meal.Id)">@meal.Name</a></div>
                <div class="smp-planner-list-meal-details">
                    @if (meal.HasIngredients) {
                    <div>Ingredients:</div>
                    <ul>
                        @foreach (var ingredient in meal.Ingredients) {
                        <li>@ingredient</li>
                        }
                    </ul>
                    }
                    @if (meal.HasNotes) {
                    <div>Notes:</div>
                    <div>@meal.Notes</div>
                    }
                </div>
            </div>
        </li>
        }
    </ul>
    @if (Model.Pagination.PageCount > 1) {
    <div class="pagination">
        @if (Model.Pagination.PageNumber > 1) {
        <a href="/planner/@(Model.Day.ToString("yyyyMMdd"))/add?pageNumber=@(Model.Pagination.PageNumber - 1)&sort=@(Model.Pagination.Sort)&filter=@(Model.Pagination.Filter)">&laquo;</a>
        }
        @foreach (var pg in Model.Pagination.Pages) {
        @if (pg.IsSelected) {
        <a class="pagination-active">@pg.PageNumber</a>
        } else {
        <a href="/planner/@(Model.Day.ToString("yyyyMMdd"))/add?pageNumber=@pg.PageNumber&sort=@(Model.Pagination.Sort)&filter=@(Model.Pagination.Filter)">@pg.PageNumber</a>
        }
        @if (pg.IsNextPageSkipped) {
        <span>&bull;&bull;</span>
        }
        }
        @if (Model.Pagination.PageNumber < Model.Pagination.PageCount) {
        <a href="/planner/@(Model.Day.ToString("yyyyMMdd"))/add?pageNumber=@(Model.Pagination.PageNumber + 1)&sort=@(Model.Pagination.Sort)&filter=@(Model.Pagination.Filter)">&raquo;</a>
        }
    </div>
    }
</div>
<div class="smp-planner-add-new">
    <form method="post" action="/planner/@(Model.Day.ToString("yyyyMMdd"))/add">
    @Html.AntiForgeryToken()
    <div>Description:</div>
    <input type="text" name="description" class="smp-planner-add-new-description" />

    <div>Ingredients:</div>
    <textarea name="ingredients" class="smp-planner-add-new-ingredients" wrap="off"></textarea>

    <div>Notes:</div>
    <textarea name="notes" class="smp-planner-add-new-notes" wrap="off"></textarea>

    <p><button type="submit">Add</button></p>
    </form>
</div>
<p>
    <button type="button" data-href="/planner/@(Model.Day.ToString("yyyyMMdd"))">Cancel</button>
</p>