@model SmallMealPlan.Web.Model.ShoppingList.IndexViewModel

<div class="smp-planner-add-header">
    <span class="selected" data-select=".smp-shoplist-current">My list</span>
    <span data-select=".smp-shoplist-add-from-planner">Add from planner</span>
    <span data-select=".smp-shoplist-bought">Bought</span>
    <span data-select=".smp-shoplist-rtm">RTM</span>
</div>
<div class="smp-shoplist-current">
    <ul class="smp-planner-list">
        <li class="smp-planner-list">
            <ul class="smp-planner-list-meal">
                @foreach (var shoppingListItem in Model.MyList) {
                <li class="smp-planner-list-meal" data-shoppinglistitem="@shoppingListItem.ShoppingListItemId">
                    <div><img class="smp-planner-list-meal-drag-handle" src="/images/drag.png" height="26" width="22" title="Move" /></div>
                    <div></div>
                    <div>@shoppingListItem.Description</div>
                    <div>
                        <form method="post" action="/shoppinglist/bought/@shoppingListItem.ShoppingListItemId">
                        @Html.AntiForgeryToken()
                        <button title="Bought"><img src="/images/tick.png" height="15" width="15" /> Bought</button>
                        </form>
                        <form data-confirm="Are you sure you want to delete this from your shopping list?" method="post" action="/shoppinglist/delete/@shoppingListItem.ShoppingListItemId">
                        @Html.AntiForgeryToken()
                        <button title="Delete"><img src="/images/close.png" height="15" width="15" /> Delete</button>
                        </form>
                    </div>
                </li>
                }
            </ul>
        </li>
    </ul>
    <div>
    <form method="post" action="/shoppinglist">
    @Html.AntiForgeryToken()
    <input type="text" name="description" class="smp-planner-add-new-description" /> <button type="submit">Add to my shopping list</button>
    </form>
    </div>
</div>

<div class="smp-shoplist-add-from-planner">
    <form method="post" action="/shoppinglist/add/planner">
    @Html.AntiForgeryToken()
    <button title="Select all" name="selectall" type="button">Select all</button> <button title="Select none" name="selectnone" type="button">Select none</button> <button title="Add all selected" name="addselected" type="submit">Add selected to my shopping list</button>
    <ul class="smp-planner-list">
        <li class="smp-planner-list">
            <ul class="smp-planner-list-meal">
                @foreach (var ingredient in Model.IngredientFromPlannerList) {
                <li class="smp-planner-list-meal">
                    <div></div>
                    <div><input type="checkbox" name="ingredientid" value="@ingredient.IngredientId"></div>
                    <div>@ingredient.Description</div>
                    <div><button data-href="/shoppinglist/add/planner/@ingredient.IngredientId" type="button" type="button"><img src="/images/add.png" height="15" width="15" /> Add</button></div>
                </li>
                }
            </ul>
        </li>
    </ul>
    </form>
</div>

<div class="smp-shoplist-bought">
    <ul class="smp-planner-list">
        <li class="smp-planner-list">
            <ul class="smp-planner-list-meal">
                @foreach (var boughtListItem in Model.BoughtList) {
                <li class="smp-planner-list-meal">
                    <div></div>
                    <div></div>
                    <div>@boughtListItem.Description</div>
                    <div><button title="Add back onto my shopping list" data-href="/shoppinglist/add/@boughtListItem.ShoppingListItemId"><img src="/images/add.png" height="15" width="15" /> Add back onto list</button></div>
                </li>
                }
            </ul>
        </li>
    </ul>

    @if (Model.BoughtListPagination.PageCount > 1) {
    <div class="pagination">
        @if (Model.BoughtListPagination.PageNumber > 1) {
        <a href="/shoppinglist?boughtItemsPageNumber=@(Model.BoughtListPagination.PageNumber - 1)&tab=smp-shoplist-bought">&laquo;</a>
        }
        @foreach (var pg in Model.BoughtListPagination.Pages) {
        @if (pg.IsSelected) {
        <a class="pagination-active">@pg.PageNumber</a>
        } else {
        <a href="/shoppinglist?boughtItemsPageNumber=@pg.PageNumber&tab=smp-shoplist-bought">@pg.PageNumber</a>
        }
        @if (pg.IsNextPageSkipped) {
        <span>&bull;&bull;</span>
        }
        }
        @if (Model.BoughtListPagination.PageNumber < Model.BoughtListPagination.PageCount) {
        <a href="/shoppinglist?boughtItemsPageNumber=@(Model.BoughtListPagination.PageNumber + 1)&tab=smp-shoplist-bought">&raquo;</a>
        }
    </div>
    }
</div>

<div class="smp-shoplist-rtm">
    @if (Model.HasRtmToken) {
    <div>
    Import or export from one of your RTM lists:
    <form name="rtm" method="post" action="/shoppinglist/rtm">
    @Html.AntiForgeryToken()
    <select name="list">
    </select>
    <button name="load" type="button">Load your RTM lists</button>
    <br/>
    <button name="import" value="true" type="submit">Import from List</button>
    <button name="export" value="true" type="submit">Export to List</button>
    </form>
    </div>
    <hr/>
    <div>
    <form method="post" action="/rtm/unlink">
    @Html.AntiForgeryToken()
    <button type="submit">Unlink your account</button>
    </form>
    </div>
    } else {
    <div>To enable import or export of your shopping list with RememberTheMilk, first <button data-href="/rtm/link">link your account</button></div>
    }
</div>

@section Scripts {
<script type="text/javascript">
    $(function() { 
        let urlParams = new URLSearchParams(window.location.search);
        let activeTab = urlParams.get('tab');
        if (activeTab != null) {
            $('div.smp-planner-add-header > span[data-select=".' + activeTab + '"]').click();
        } else {
            $('input[name="description"]').focus();
        }

        $('button[name="selectall"]').click(function() {
            $('.smp-planner-list input[type="checkbox"]').prop('checked', true);
            setAddSelectedButton();
        });
        $('button[name="selectnone"]').click(function() {
            $('.smp-planner-list input[type="checkbox"]').prop('checked', false);
            setAddSelectedButton();
        });
        $('.smp-planner-list input[type="checkbox"]').change(setAddSelectedButton);
        setAddSelectedButton();

        $('button[name="addselected"]').click(function() {
            var array = []; 
            $('.smp-planner-list input:checked').each(function() {
                array.push($(this).val());
            });
        });

        let rtmLists = $('form[name="rtm"] select[name="list"]');
        let rtmImportExportBtns = $('form[name="rtm"] button[type="submit"]');
        rtmImportExportBtns.prop('disabled', true);
        rtmLists.prop('disabled', true);
        $('form[name="rtm"] button[name="load"]').click(function() {
            $.ajax({ url: '/api/rtm' })
                .done(function(data) {
                    $.each(data.options, function (i, item) {
                        rtmLists.append($('<option>', { 
                            value: item.value,
                            text : item.text 
                        }));
                    });
                    rtmImportExportBtns.prop('disabled', data.options.length == 0);
                    rtmLists.prop('disabled', data.options.length == 0);
                })
                .fail(function() {
                    console.log('Error getting RTM lists!');
                });
        });
    })

    function setAddSelectedButton() {
        var noneChecked = $('.smp-planner-list input:checked').length == 0;
        $('button[name="addselected"]').prop('disabled', noneChecked);
    }
</script>
}