@model SmallMealPlan.Web.Model.ShoppingList.IndexViewModel

<div class="smp-planner-add-header">
    <span class="selected" data-select=".smp-shoplist-current">My list</span>
    <span data-select=".smp-shoplist-add-from-planner">Add from planner</span>
    <span data-select=".smp-shoplist-bought">Bought</span>
    <span data-select=".smp-shoplist-sync">Sync</span>
</div>
<div class="smp-shoplist-current">
    <ul class="smp-planner-list">
        <li class="smp-planner-list">
            <ul class="smp-planner-list-meal">
                @foreach (var shoppingListItem in Model.MyList) {
                <li class="smp-planner-list-meal" data-shoppinglistitem="@shoppingListItem.ShoppingListItemId">
                    <div><img class="smp-planner-list-meal-drag-handle" src="/images/drag.png" height="26" width="22" title="Move" /></div>
                    <div></div>
                    <div>@shoppingListItem.Description</div>
                    <div>
                        <form method="post" action="/shoppinglist/bought/@shoppingListItem.ShoppingListItemId">
                        @Html.AntiForgeryToken()
                        <button title="Bought"><img src="/images/tick.png" height="15" width="15" /> Bought</button>
                        </form>
                        <form data-confirm="Are you sure you want to delete this from your shopping list?" method="post" action="/shoppinglist/delete/@shoppingListItem.ShoppingListItemId">
                        @Html.AntiForgeryToken()
                        <button title="Delete"><img src="/images/close.png" height="15" width="15" /> Delete</button>
                        </form>
                    </div>
                </li>
                }
            </ul>
        </li>
    </ul>
    <div class="smp-shoplist-actions">
    <div>
    <form method="post" action="/shoppinglist">
    @Html.AntiForgeryToken()
    <input type="text" name="description" class="smp-planner-add-new-description" /> <button type="submit" data-depends="input.smp-planner-add-new-description">Add to my shopping list</button>
    </form>
    </div>

    @if (Model.MyList.Any()) {
    <div>
    <form name="smp-shoplist-bought-all" method="post" action="/shoppinglist/bought">
    @Html.AntiForgeryToken()
    <button title="Bought All"><img src="/images/tick.png" height="15" width="15" /> Bought All</button>
    </form>
    </div>
    }
    </div>
</div>

<div class="smp-shoplist-add-from-planner">
    <form method="post" action="/shoppinglist/add/planner">
    @Html.AntiForgeryToken()
    <button title="Select all" name="selectall" type="button">Select all</button> <button title="Select none" name="selectnone" type="button">Select none</button> <button title="Add all selected" name="addselected" type="submit">Add selected to my shopping list</button>
    <ul class="smp-planner-list">
        <li class="smp-planner-list">
            <ul class="smp-planner-list-meal">
                @foreach (var meal in Model.MealFromPlannerList) {
                <li class="smp-planner-list-meal">
                    <div></div>
                    <div><input type="checkbox" data-mealid="@meal.MealId"></div>
                    <div><em>@meal.Description</em></div>
                    <div><button data-href="/shoppinglist/add/planner/meal/@meal.MealId" type="button"><img src="/images/add.png" height="15" width="15" /> Add Meal Ingredients</button></div>
                </li>
                @foreach (var ingredient in meal.Ingredients) {
                <li class="smp-planner-list-meal">
                    <div>&nbsp;&nbsp;</div>
                    <div><input type="checkbox" name="ingredientid" value="@ingredient.IngredientId" data-ingredientmealid="@meal.MealId"></div>
                    <div>@ingredient.Description</div>
                    <div><button data-href="/shoppinglist/add/planner/@ingredient.IngredientId" type="button"><img src="/images/add.png" height="15" width="15" /> Add</button></div>
                </li>
                }
                }
            </ul>
        </li>
    </ul>
    </form>
</div>

<div class="smp-shoplist-bought">
    <ul class="smp-planner-list">
        <li class="smp-planner-list">
            <ul class="smp-planner-list-meal">
                @foreach (var boughtListItem in Model.BoughtList) {
                <li class="smp-planner-list-meal">
                    <div></div>
                    <div></div>
                    <div>@boughtListItem.Description</div>
                    <div><button title="Add back onto my shopping list" data-href="/shoppinglist/add/@boughtListItem.ShoppingListItemId"><img src="/images/add.png" height="15" width="15" /> Add back onto list</button></div>
                </li>
                }
            </ul>
        </li>
    </ul>

    @if (Model.BoughtListPagination?.PageCount > 1) {
    <div class="pagination">
        @if (Model.BoughtListPagination.PageNumber > 1) {
        <a href="/shoppinglist?boughtItemsPageNumber=@(Model.BoughtListPagination.PageNumber - 1)&tab=smp-shoplist-bought">&laquo;</a>
        }
        @foreach (var pg in Model.BoughtListPagination.Pages) {
        @if (pg.IsSelected) {
        <a class="pagination-active">@pg.PageNumber</a>
        } else {
        <a href="/shoppinglist?boughtItemsPageNumber=@pg.PageNumber&tab=smp-shoplist-bought">@pg.PageNumber</a>
        }
        @if (pg.IsNextPageSkipped) {
        <span>&bull;&bull;</span>
        }
        }
        @if (Model.BoughtListPagination.PageNumber < Model.BoughtListPagination.PageCount) {
        <a href="/shoppinglist?boughtItemsPageNumber=@(Model.BoughtListPagination.PageNumber + 1)&tab=smp-shoplist-bought">&raquo;</a>
        }
    </div>
    }
</div>

<div class="smp-shoplist-sync">
    <p>
    @if (Model.HasRtmToken) {
    <div>
    Import or export from one of your RememberTheMilk lists:
    <form name="rtm" method="post" action="/shoppinglist/rtm">
    @Html.AntiForgeryToken()
    <select name="list">
    </select>
    <button name="load" type="button">Load your RTM lists</button>
    <br/>
    <button name="import" value="true" type="submit">Import from List</button>
    <button name="export" value="true" type="submit">Export to List</button>
    <label for="deleteafterexport-rtm" title="Mark all items as bought after exporting"><input type="checkbox" id="deleteafterexport-rtm" name="deleteafterexport" value="true" /> Delete after export</label>
    </form>
    </div>
    
    <p>
    <form method="post" action="/rtm/unlink" data-confirm="Are you sure you want to unlink your account?">
    @Html.AntiForgeryToken()
    <button type="submit">Unlink your RTM account</button>
    </form>
    </p>
    } else {
    <div>To enable import or export of your shopping list with RememberTheMilk, first <button data-href="/rtm/link">link your account</button></div>
    }
    </p>
    <hr />
    <p>
    @if (Model.HasSmallListerToken) {
    @if (Model.HasSmallListerSyncList) {
    <p>
    <div>Currently syncing with list: @Model.SmallListerSyncListName</div>
    <form name="sml-sync" method="post" action="/shoppinglist/sml/unsync" data-confirm="Are you sure you want to stop syncing with this list?">
    @Html.AntiForgeryToken()
    <button type="submit">Stop syncing with this list</button>
    </form>
    </p>
    }
    <div>
    Sync, import or export from one of your Small:Lister lists:
    <form name="sml" method="post" action="/shoppinglist/sml">
    @Html.AntiForgeryToken()
    <select name="list">
    </select>
    <button name="load" type="button">Load your Small:Lister lists</button>
    <br/>
    <button name="sync" value="true" type="submit">Sync with this List</button>
    <button name="import" value="true" type="submit">Import from List</button>
    <button name="export" value="true" type="submit">Export to List</button>
    <label for="deleteafterexport-smalllister" title="Mark all items as bought after exporting"><input type="checkbox" id="deleteafterexport-smalllister" name="deleteafterexport" value="true" /> Delete after export</label>
    </form>
    </div>

    <p>
    <form method="post" action="/sml/unlink" data-confirm="Are you sure you want to unlink your account?">
    @Html.AntiForgeryToken()
    <button type="submit">Unlink your Small:Lister account</button>
    </form>
    </p>
    } else {
    <div>To enable import or export of your shopping list with Small:Lister, first <button data-href="/sml/link">link your account</button></div>
    }
    </p>
</div>

@section Scripts {
<script type="text/javascript">
    $(function() { 
        let urlParams = new URLSearchParams(window.location.search);
        let activeTab = urlParams.get('tab');
        if (activeTab != null) {
            $('div.smp-planner-add-header > span[data-select=".' + activeTab + '"]').click();
        } else {
            $('input[name="description"]').focus();
        }

        $('button[name="selectall"]').click(function() {
            $('.smp-planner-list input[type="checkbox"]').prop('checked', true);
            setAddSelectedButton();
        });
        $('button[name="selectnone"]').click(function() {
            $('.smp-planner-list input[type="checkbox"]').prop('checked', false);
            setAddSelectedButton();
        });
        $('.smp-planner-list input[type="checkbox"]').change(setAddSelectedButton);
        setAddSelectedButton();

        $('button[name="addselected"]').click(function() {
            var array = []; 
            $('.smp-planner-list input:checked').each(function() {
                array.push($(this).val());
            });
        });

        $('input[type="checkbox"][data-mealid]').click(function() {
            let selectMealId = $(this).attr("data-mealid");
            $('input[type="checkbox"][data-ingredientmealid="' + selectMealId + '"]').prop('checked', $(this).prop('checked'));
        });
        $('input[type="checkbox"][data-ingredientmealid]').click(function() {
            let selectMealId = $(this).attr("data-ingredientmealid");
            let ingredientsForMeal = $('input[type="checkbox"][data-ingredientmealid="' + selectMealId + '"]');
            let checkedIngredients = $('input[type="checkbox"][data-ingredientmealid="' + selectMealId + '"]:checked');
            $('input[type="checkbox"][data-mealid="' + selectMealId + '"]').prop('checked', ingredientsForMeal.length == checkedIngredients.length);
        });

        let rtmLists = $('form[name="rtm"] select[name="list"]');
        let rtmImportExportBtns = $('form[name="rtm"] button[type="submit"]');
        let rtmInputs = $('form[name="rtm"] input');
        rtmImportExportBtns.prop('disabled', true);
        rtmLists.prop('disabled', true);
        rtmInputs.prop('disabled', true);
        $('form[name="rtm"] button[name="load"]').click(function() {
            $.ajax({ url: '/api/rtm' })
                .done(function(data) {
                    $.each(data.options, function (i, item) {
                        let opt = $('<option>', { 
                            value: item.value,
                            text : item.text
                        });
                        if (item.isSelected)
                            opt.prop('selected', 'selected');
                        rtmLists.append(opt);
                    });
                    rtmImportExportBtns.prop('disabled', data.options.length == 0);
                    rtmLists.prop('disabled', data.options.length == 0);
                    rtmInputs.prop('disabled', data.options.length == 0);
                })
                .fail(function() {
                    console.log('Error getting RTM lists!');
                });
        });

        let smlLists = $('form[name="sml"] select[name="list"]');
        let smlImportExportBtns = $('form[name="sml"] button[type="submit"]');
        let smlInputs = $('form[name="sml"] input');
        smlImportExportBtns.prop('disabled', true);
        smlLists.prop('disabled', true);
        smlInputs.prop('disabled', true);
        $('form[name="sml"] button[name="load"]').click(function() {
            $.ajax({ url: '/api/sml' })
                .done(function(data) {
                    $.each(data.options, function (i, item) {
                        let opt = $('<option>', { 
                            value: item.value,
                            text : item.text
                        });
                        if (item.isSelected)
                            opt.prop('selected', 'selected');
                        smlLists.append(opt);
                    });
                    smlImportExportBtns.prop('disabled', data.options.length == 0);
                    smlLists.prop('disabled', data.options.length == 0);
                    smlInputs.prop('disabled', data.options.length == 0);
                })
                .fail(function() {
                    console.log('Error getting SmallLister lists!');
                });
        });
    })

    function setAddSelectedButton() {
        var noneChecked = $('.smp-planner-list input:checked').length == 0;
        $('button[name="addselected"]').prop('disabled', noneChecked);
    }
</script>
}